*{
    padding: 0;
    margin: 0;
}

body
{   
    background-color: black;
    color: aliceblue;
    text-align: center;
}

.head{
      margin-top: 20%; 
    font-size: 2em;   
}
input
{
    width: 300px;
    height: 20px;
    font-size: 10px;
}
button
{
   width: 50px;
   height: 20px;
   font-size: 10px;
}
.form
{
    margin-top: 20px;
}
.form .signin a
{
   
    color: rgb(173, 216, 253);
    text-decoration:darkgrey;
}
.form .signin{
    margin-top: 15px;
}
