*{
    padding: 0;
    margin: 0;
}

body
{   
    background-color: black;
    color: aliceblue;
    text-align: center;
}

.head{
      margin-top: 20%; 
    font-size: 3em;   
    cursor:context-menu;
}
input
{
    height: 30px;
    width: 300px;
    font-size: 15px;
}
button
{
    height: 30px;
    width: 100px;
   font-size: 15px;
   cursor: pointer;
   background-color: aliceblue;
}
.form
{
    margin-top: 20px;
}
.form .signin a
{
   
    color: rgb(173, 216, 253);
    text-decoration:darkgrey;
}
.form .signin{
    margin-top: 20px;
    font-size: 1.2em;
}
button:active{
   box-shadow: 3px 3px 30px whitesmoke;
}

.forgot
{
    margin-top: 10px;
    font-size: 1.2em;
}
.forgot a{
color: rgb(173, 216, 253);
    text-decoration:darkgrey;
}